:root {
    --Primary-color: #D0D6F9;
    --Secondary-color: white;
    --font-inter: "Barlow Condensed",
        sans-serif;

    --hover-color: aquamarine;

    --nav-bg: #1e222c;
    --glass-filter: rgba(255, 255, 255, 0.19);

}