* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --Primary-color: #D0D6F9;
  --Secondary-color: white;
  --font-inter: "Barlow Condensed",
      sans-serif;
  --glass-filter: rgba(255, 255, 255, 0.19);
}

.main-container {
  background-image: url(/images/destination/background-destination-desktop.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.main-container .content-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38%;
  padding: 20px 0;
}
.main-container .content-area .logo-img {
  margin-left: 4%;
}
.main-container .content-area nav {
  display: none;
  display: flex;
  gap: 4%;
  background-color: #1e222c;
  padding: 38px 0px;
  justify-content: center;
  width: 100%;
  background: var(--glass-filter);
  padding: 30px 0;
  -webkit-backdrop-filter: blur(0.7px);
          backdrop-filter: blur(0.7px);
  position: relative;
  gap: 10%;
}
.main-container .content-area nav a {
  color: var(--Secondary-color);
  font-size: 12px;
  font-family: var(--font-inter);
  letter-spacing: 3px;
  display: flex;
  gap: 5%;
}
.main-container .content-area nav a:hover {
  border-bottom: 3px solid var(--Secondary-color);
}
.main-container .content-area nav a span {
  font-weight: bold;
  color: var(--Secondary-color);
}
.main-container hr {
  opacity: 0.3;
  width: 36%;
  background-color: var(--glass-filter);
  position: absolute;
  top: 55px;
  left: 12%;
}
.main-container .inner-content {
  display: flex;
  align-items: center;
  gap: 2%;
  margin-top: 30px;
  padding-left: 100px;
}
.main-container .inner-content h1 {
  color: grey;
  font-family: var(--font-inter);
  letter-spacing: 5px;
}
.main-container .inner-content h2 {
  letter-spacing: 5px;
  color: var(--Secondary-color);
  font-family: var(--font-inter);
}
.main-container .last-area {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 20px;
}
.main-container .last-area nav {
  display: flex;
  gap: 5%;
}
.main-container .last-area nav a {
  color: var(--Secondary-color);
  letter-spacing: 5px;
  font-family: var(--font-inter);
  font-size: 12px;
}
.main-container .last-area .heading-area {
  margin-top: 20px;
}
.main-container .last-area .heading-area h1 {
  font-size: 80px;
  color: var(--Secondary-color);
  letter-spacing: 10px;
}
.main-container .last-area .heading-area p {
  color: var(--Primary-color);
  font-family: var(--font-inter);
  width: 35vw;
  line-height: 2;
  letter-spacing: 2px;
  margin-top: 10px;
  font-weight: 400;
}
.main-container .last-area .ln-area {
  margin-top: 50px;
}
.main-container .last-area .ln-area hr {
  opacity: 0.3;
}
.main-container .last-area .section-area {
  display: flex;
  gap: 20%;
  margin-top: 20px;
}
.main-container .last-area .section-area h2 {
  color: var(--Secondary-color);
  font-family: var(--font-inter);
  font-size: 15px;
  font-weight: 300;
  color: var(--Primary-color);
  padding-bottom: 15px;
}
.main-container .last-area .section-area span {
  color: var(--Secondary-color);
  font-family: var(--Secondary-color);
  font-size: 35px;
  text-wrap: nowrap;
}/*# sourceMappingURL=second.css.map */